# Gradle
.gradle/
build/
*/build/
!gradle-wrapper.jar

# Android Studio
.idea/
*.iml
.navigation/
captures/

# Local properties
local.properties

# OS
.DS_Store
Thumbs.db

# Built files
*.apk
*.aab

# Keystores
*.jks
*.keystore